
<section class="main">


  <aside>

      Enter text: 
      <input [(ngModel)]="textid" placeholder="Enter a value"><br>
      <button class="btn place" (click)="DoSearch()">Search {{textid}}</button>
      <button class="btn place" (click)="resetMap()">Reset map</button>
    
    
    
    
        <div class="list" *ngFor="let x of pleissi?.data"> {{x?.name?.fi}} and {{x.position?.coordinates[1]}} and {{x.position?.coordinates[0]}}</div>
    </aside>
    

    <div id="map"></div>


  </section>
