

.main {
    display: flex;
    flex-direction: row;
}

.button-bar {
    height: 17vh;
    border-bottom: #1e1b4b 1px solid;
}
  
  #map {
    height: 600px; /* The height is 400 pixels */
    width: 100%; /* The width is the width of the web page */
    margin: 3px;
}

.text-input {
  width: 25%;
  padding: 6px 10px;
  margin: 8px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0px 4px 6px #2b0950;

}
  
.window {
  position: absolute;
  top: 15%;
  left: 10%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color:  #1e1b4b;
  border-radius: 10px;
  color: white;
}
  
  .btn {
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    border: none;
    border-radius: 4px;
    margin: 0.5%;
    box-shadow: rgba(0, 0, 0, 0.30) 2.4px 2.4px 3.2px;
  }
  .btn:hover {
    opacity: 0.85;
  }
  
.infoscreen {
    background-color: #0f172a;
}
  
 
  
  .place {
    background-color: #3730a3;
    color: rgb(230, 230, 223);
  }

  .search, .reset {
    background-color: #83046e;
    color: rgb(230, 230, 223);
  }
  
  .kortti {
    margin: 1%;
  }


  .list {
    width: auto;
    background-color: #1e1b4b;
    color: rgb(243, 240, 240);
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 3px;
    padding-bottom: 10px;
    margin: 3px;
    border-radius: 3px 8px 3px 3px;
    font-weight: 400;
  }

  .list:hover {
    opacity: 0.9;
  }

  a {
    color: rgb(222, 221, 221);
  }

  a:hover {
    text-decoration: underline;
  }


  @media only screen and (max-width: 768px) {

   }

  @media only screen and (max-width: 425px) {

  }