
<section class="upnavi bg-slate-900 h-20">

    <article class="navlinks">
       
    <h3 class="bg-clip-text text-transparent bg-gradient-to-r from-sky-700 to-violet-900">Helsinki LinkedEvents</h3>

 <!--
<figure class="helsinki-logo">
    <img src="../assets/images/helsinki-linkedevents.png">
</figure> 
-->


    <h3 class="bg-clip-text text-transparent bg-gradient-to-r from-fuchsia-600 to-violet-900">Events</h3>
   
    
    <h3 class="bg-clip-text text-transparent bg-gradient-to-r from-fuchsia-600 to-violet-900">
    <a routerLink="/place">Places</a>
    </h3>

    <h3 class="bg-clip-text text-transparent bg-gradient-to-r from-fuchsia-600 to-teal-600">
        <a routerLink="/">Information</a>
        </h3>

</article>
   

</section>


