nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
  }
  .sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
  }

.upnavi{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

}

.hamburger-menu {
    background: none;
    border: 0;
    cursor: pointer;
  }

    .hamburger-menu:hover {
        background: none;
        border: 0;
        cursor: pointer;
        color: rgb(23, 51, 209)   ;
    }

    .hamburger-animate, .x-animate {
        transition: transform 0.5s ease;

      }
      
      .hamburger-menu:focus .hamburger-animate {
        transform: rotate(180deg);

      }
      
      .hamburger-menu:focus .x-animate {
        transform: rotate(-180deg);
      }
  
  .navlinks {
    /* Example styles for the links container */
    position: absolute;
    top: 100%; /* Adjust based on your navbar height */
    left: 0;
    background-color: #2d3748; /* Example background color */
    width: 100%;
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
    z-index: 1000;
  }

h3 {
    padding: 0.25%;
    font-size: x-large;
    font-weight: 800;
    margin-left: 1rem;
}



/* kuvien määritykset */

figure {
    width: 100%;
   /* border: black solid 1px; */
    padding: 0rem;
}    
figure img {
    max-width: 100%; 
}

.logo-container {
    width: 100px; /* Adjust the width as needed */
    display: flex; /* Centers the image if the container's width is larger than the image width */
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
  }
  
  .logo-container img {
    width: 100%; /* Makes the image fill the container */
    height: auto; /* Keeps the image aspect ratio */
    object-fit: contain; /* Ensures the image is scaled correctly to fit within the container without being cropped */

  }



