<nav [ngClass]="{ 'sticky': isSticky }">
    <section class="upnavi bg-slate-900 h-20 flex justify-between items-center">
      <!-- Hamburger Menu Button -->
      <button (click)="toggleMenu()" class="hamburger-menu m-10">
        <!-- Hamburger Icon -->
        <svg *ngIf="!menuVisible" class="w-6 h-6 hamburger-animate" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-16 6h16"></path>
        </svg>
        <!-- "X" Icon -->
        <svg *ngIf="menuVisible" class="w-6 h-6 x-animate" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </button>
  
      <!-- Always Visible Text -->
      <h3 class="bg-clip-text text-transparent bg-gradient-to-r from-sky-700 to-violet-900 m-10">
        <a routerLink="/mainpage" (click)="toggleMenu(false)">Helsinki LinkedEvents</a>
      </h3>

  

    <article class="navlinks" *ngIf="menuVisible">

        <!--
        <figure class="helsinki-logo logo-container">
            <img src="../assets/helsinki-png.png">
        </figure> -->

<div class="gray-back">
    <h3 class="bg-clip-text text-transparent bg-gradient-to-r from-fuchsia-600 to-violet-900 hover:from-pink-400 hover:to-rose-500">
        <a routerLink="/event" (click)="toggleMenu(false)">Events 
        </a>
    </h3>
  </div>
  <div class="gray-back">
    <h3 class="bg-clip-text text-transparent bg-gradient-to-r from-fuchsia-600 to-violet-900 hover:from-pink-500 hover:to-yellow-500">
    <a routerLink="/place" (click)="toggleMenu(false)">Places
    </a>
    </h3>
  </div>
  <div class="gray-back">
    <h3 class="bg-clip-text text-transparent bg-gradient-to-r from-fuchsia-600 to-violet-900 hover:from-pink-500 hover:to-yellow-500">
        <a routerLink="/image" (click)="toggleMenu(false)">Images 
        </a>
        </h3>
  </div>


  <div class="gray-back">
    <h3 class="bg-clip-text text-transparent bg-gradient-to-r from-fuchsia-600 to-teal-600">
        <a routerLink="/" (click)="toggleMenu(false)">Information 
        </a>
        </h3>
  </div>

</article>
</section>



</nav>


