.weather-card {
    width: fit-content; /* Adjust card width */
    margin: 0 auto; /* Center the card */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Add some shadow for depth */
    border-radius: 10px; /* More pronounced rounded corners */
    overflow: hidden; /* Ensures the border-radius clips the content */
    background-color: white;
    margin-bottom: 20px; /* Space between cards */
  }
  
  .weathertime {
    font-size: 0.9rem;
    padding: 3%;
    font-weight: 600;
    text-align: center; /* Center the text */
  }
  
  .center {
    text-align: center;
  }
  
  .asteluku {
    padding-right: 5%;
    font-weight: 600;
    font-size: 0.85rem;
  }
  
  .weather-icon {
    width: 50px; /* Adjust icon size */
    height: auto;
    display: block; /* Center the image */
    margin: 0 auto; /* Center the image */
  }