<div class="kaupunginosat">
<h1>Kaupunginosat</h1>
<select class="form-select" (change)="onSearchChange($event)">
    <option value="" disabled selected>Valitse kaupunginosa</option>
    <option value="Kallio">Kallio</option>
    <option value="Pasila">Pasila</option>
    <option value="Kamppi">Kamppi</option>
    <option value="Katajanokka">Katajanokka</option>
    <option value="Haaga">Haaga</option>
    <option value="Kluuvi">Kluuvi</option>
    <option value="Käpylä">Käpylä</option>
    <option value="Itäkeskus" >Itäkeskus</option>
    <option value="Malmi">Malmi</option>
    <option value="Punavuori">Punavuori</option>
    <option value="Töölö">Töölö</option>
    <option value="Tikkurila">Tikkurila</option>
    <option value="Kontula">Kontula</option>
    <option value="Leppävaara">Leppävaara</option>
</select>
</div>

<div class="paikat">
    <h1>Paikat</h1>
    <select class="form-select" (change)="onSearchChange($event)">
        <option value="" disabled selected>Valitse paikka</option>
        <option value="Stadion">Stadion</option>
        <option value="Taidemuseo">Taidemuseo</option>
        <option value="Puisto">Puisto</option>
        <option value="Teatteri">Teatteri</option>

        <!-- Add more options as needed -->
    </select>
  </div>


